%section.banner
  %a{:href => "#"}
    = image_tag("london_from_a_hot_air_balloon.jpg")
    .content.content-position.contain-padding
      %h1
        %span China Desk

%section.text-light
  .contain-padding
    .content-text-position
      %p.text-detail
        London, one of the world’s most important commercial hubs, can be a financial, legal and cultural minefield for the uninitiated. However, experienced local advice can ensure you safely navigate the pitfalls. We provide a robust and comprehensive support framework to potential Chinese investors for all your business activities in the UK and Europe.
      .row
        .col-lg-4
          %h2 Head of China Desk
          .thumbnail.pretty-thumbnail
            %a{:href => location_path("london")}
              = image_tag("chinese-flag-graphic.png")
            .caption.text-detail
              %strong Tony Liu
              %p Head of China Desk
              %ul.list-unstyled
                %li
                  .row
                    .col-md-1
                      %i.fa.fa-envelope-o
                    .col-md-5
                      t.liu@rsbsolicitors.co.uk
                %li
                  .row
                    .col-md-1
                      %i.fa.fa-phone
                    .col-md-5
                      020 3092 5345
                %li
                  .row
                    .col-md-1
                      %i.fa.fa-wechat
                    .col-md-5
                      TL07873963102

        .col-lg-6.text-detail.col-lg-offset-2
          %h2 We advise on
          %ul
            %li Funds
            %li International dispute resolution
            %li Intellectual property
            %li Mergers & acquisitions
            %li Private wealth
            %li Real Estate
            %li Tax
            %li Corporate finance 
            %li Immigration
            %li Employment
