%section.banner
  .content.contain-padding
    .content-text-position
      %h2
        %span CONTACT
      %h1
        %span Meet our team

    .row
      .col-sm-6.col-md-4
        .thumbnail
          %a{:href => location_path("london")}
            %img{:src => "https://sixpillarstopersia.files.wordpress.com/2012/07/fb_logo1.png"}/
          .caption
            %a{:href => location_path("london")}
              %h3 London
            %address
              %strong Twitter, Inc.
              %br/
              795 Folsom Ave, Suite 600
              %br/
              San Francisco, CA 94107
              %br/
              %abbr{:title => "Phone"} P:
              (123) 456-7890
