%section.banner
  .content.contain-padding
    .content-text-position
      %h2
        %span CONTACT
      %h1
        %span Meet our team

    .row
      .col-sm-6.col-md-4
        .thumbnail.pretty-thumbnail
          %a{:href => location_path("london")}
            %img{:src => "https://sixpillarstopersia.files.wordpress.com/2012/07/fb_logo1.png", :width => "260"}/
          .caption
            %a{:href => location_path("london")}
              %h3 London
            %address
              %strong RSB Solictors
              %br/
              Unit 109, Cremer business centre
              %br/
              37 Cremer Street, London
              %br/
              E2 8HD
      .col-sm-6.col.md-8
        %iframe{:frameborder => "0", :height => "443", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.com/maps?hl=en&q=44 Bishopsgate london EC2N 4AH&ie=UTF8&t=roadmap&z=18&iwloc=B&output=embed", :width => "688"}
