%section.banner
  %a{:href => "#"}
    = image_tag("london_from_a_hot_air_balloon.jpg")
    .content.content-position.contain-padding
      %h1
        %span= @slogen.try(:content)

.home-bg
  %section.intro
    .contain-padding
      %p
        Welcome. Over the last 14 years we have pioneered service design and made a difference for customers and organisations. We merge creativity, design and business to help organisations deliver a great customer experience and achieve tangible business results.

  %section#logo
    .contain-padding
      %ul
        %li
          %a{:href => "#"}
            %i.fa.fa-weixin.fa-5x
        %li
          %a{:href => "#"}
            %i.fa.fa-weibo.fa-5x
        %li
          %a{:href => "#"}
            %i.fa.fa-facebook-square.fa-5x
        %li
          %a{:href => "#"}
            %i.fa.fa-linkedin-square.fa-5x
