%section#banner
  %a{:href => "#"}
    = image_tag("london_from_a_hot_air_balloon.jpg")
    .content.contain-padding
      %h1
        %span We design services for customers  that have impact on business

.home-bg
  %section#intro
    .contain-padding
      Welcome. Over the last 14 years we have pioneered service design and made a difference for customers and organisations. We merge creativity, design and business to help organisations deliver a great customer experience and achieve tangible business results.
