%section.banner
  %a{:href => "#"}
    = image_tag("london_from_a_hot_air_balloon.jpg")
    .content.content-position.contain-padding
      %h2
        %span= @area
      %h1
        %span Meet our team

%section
  .contain-padding
    .row
      .col-md-8
        %p.text-detail
          From Brandcell’s office, Livework’s Beirut partner, we deliver innovative solutions to our clients ever-changing challenges. Our studio Brandcell is located right in the heart of the city, steps away from the Beirut Financial District and the trendy Mar Mikhael area; and right across the street from the best falafel joint in the country. Let’s collaborate!

        %h3
          Arriving by plane:

        %p.text-normal
          It’s better to arrange for a pick up service with your hotel before travelling to Beirut, to avoid being preyed upon by eager taxi drivers at the arrival lounge. We’re a 20 minute car ride away, on the crossroad of “Damascus” and “Bechara Khoury”.

      .col-md-4
        %h5
          CONTACT DETAILS
        %address
          %strong RSB Solictors
          %br/
          Unit 109, Cremer business centre
          %br/
          37 Cremer Street, London
          %br/
          E2 8HD

        %h5
          CONTACT

        %strong Full Name
        %br/
        %a{:href => "mailto:#"} first.last@example.com
