// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  font-family: sans-serif;
}

.contain-padding {
  padding-right: 4%;
  padding-left: 5%;
}

ul.nav.navbar-nav {
  float: right;
   li {
    a {
      color: #444444;
    }

    a:hover {
      color: #2b789e;
    }
  }
}
.logo-padding {
  padding-left: 3.55em;
}

.navbar-brand {
  padding-top: 0px;
}
.dropdown-menu>li>a {
  font-weight: lighter;
}
.dropdown-submenu {position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;max-width:300px;overflow:scroll;margin-top:-6px;margin-right:-1px;-webkit-border-radius:6px 6px 6px 6px;-moz-border-radius:6px 6px 6px 6px;border-radius:6px 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{margin-left:10px;-webkit-border-radius:6px 6px 6px 6px;-moz-border-radius:6px 6px 6px 6px;border-radius:6px 6px 6px 6px;}

.bg-china-desk {
  background: url(china-desk) no-repeat center center; background-size: cover;
}

.banner {
  img {
    max-width: 100%;
    height: auto;
  }

  .content-position {
    position: absolute;
  }

  .content-text-position {
    padding-top: 10%;
  }

  .content {
    bottom: 50%;

    h2 {
      span {
        background-color: rgba(255,255,255,0.8);
        color: #444444;
        padding: 5px;
      }
    }

    h1 {
      font-weight: bold;
      font-size: 50px;
      line-height: 1.29em;

      span {
        background-color: rgba(255,255,255,0.8);
        color: #000000;
        padding: 2.5px;
        font-family: "Aleo-Light"
      }
    }
  }
}

.home-bg {
  background-color: #F7F7F7;
}

.intro {
  color: #444444;
  font-size: 18px;
  padding-top: 5%;
  line-height: 1.4;
  white-space: pre-line;
}

.text-light {
  font-weight: lighter;
}

.text-detail {
  color: #000000;
  font-size: 18px;
  line-height: 1.6;
  padding-top: 30px;
}

.text-normal {
  color: #000000;
  font-size: 18px;
  padding-top: 3%;
  padding-bottom: 3%;
  line-height: 1.6;
}

#logo {
  ul {
    padding-left: 0;
    padding-bottom: 3%;
    list-style: none;
    margin: 0;
    li {
      display: inline;
      width: 16%;
      opacity: 0.7;
      padding-right: 22%;
      line-height: 3em;
      text-align: center;
      a {
        color: #333333;
      }
    }
  }
}

.footer {
  line-height: 1.6;
  background-color: #E8E8E8;
  padding-top: 2%;
  ul {
    padding-left: 0;
    list-style: none;
    li {
      font-size: 14px;
    }
  }
  a {
    color: #444444;
  }
}

.fa-grey {
  color: #808080;
}

.footer_copy {
  line-height: 1.6;
  background: #f7f7f7;
  font-size: 17px;
  padding-top: 1%;
  ul {
    padding-left: 0;
    list-style: none;
    li {
      margin-right: 2%;
      display: inline;
      a {
        font-size: 13px;
      }
    }
  }
}

.pretty-thumbnail {
  padding: 0;
}