%footer.footer
  .contain-padding
    .row
      .col-lg-4.col-md-6
        %ul
          %li
            %h5 CONTACT US
          %li
            info@ukei.com

      .col-lg-4.col-md-6
        %ul
          %li
            %h5 LOCATION
          %li
            info@ukei.com

      .col-lg-4.col-md-6
        %ul
          %li
            %h5 CONNECT
          %li
            info@ukei.com

.footer_copy
  .contain-padding
    .row
      .col-lg-12{:role => "navigation"}
        %ul#menu-footer-navigation.menu
          %li
            %a{:href => "http://liveworkstudio.com"} © 2015 Livework
          %li.menu-terms-of-use
            %a{:href => "http://liveworkstudio.com/terms-of-use/"} Terms of use
          %li.menu-privacy-policy
            %a{:href => "http://liveworkstudio.com/privacy-policy/"} Privacy policy
          %li.menu-website-by-rodesk
            %a{:href => "http://rodesk.com", :rel => "external"} Website by Rodesk
